# 导入库

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 读取数据

In [2]:
# 替换 'your_file.csv' 为你的文件路径
df = pd.read_csv('../data/air/城市_20220101-20221231/china_cities_20220103.csv')

# 查看数据前5行
df.head()

,date,hour,type,北京,天津,石家庄,唐山,秦皇岛,邯郸,保定,...,塔城地区,阿勒泰地区,石河子,五家渠,三沙,兰州新区,赣江新区,儋州,雄安新区,西咸新区
0,20220103,0,AQI,46.0,64.0,64.0,67.0,59.0,70.0,58.0,...,23.0,18.0,256.0,350.0,NaN,67.0,79.0,63.0,70.0,218.0
1,20220103,0,PM2.5,23.0,29.0,34.0,34.0,32.0,51.0,34.0,...,16.0,10.0,206.0,300.0,NaN,40.0,58.0,45.0,42.0,168.0
2,20220103,0,PM2.5_24h,13.0,14.0,28.0,16.0,21.0,45.0,17.0,...,17.0,5.0,163.0,272.0,NaN,51.0,58.0,31.0,15.0,93.0
3,20220103,0,PM10,46.0,77.0,77.0,84.0,68.0,84.0,65.0,...,23.0,2.0,345.0,442.0,NaN,84.0,108.0,59.0,89.0,161.0
4,20220103,0,PM10_24h,29.0,36.0,56.0,40.0,46.0,73.0,41.0,...,31.0,8.0,269.0,421.0,NaN,91.0,105.0,48.0,47.0,116.0